<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="../" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="../student/placement" class="nav-link px-2 text-white">Placement Cell</a></li>
        </ul>

        <div class="text-end">
          <% if (!isAuthenticate){ %>
            <a  href="../employee/sign-in" class="btn btn-outline-light me-2">Login</a>
            <a  href="../employee/sign-up" class="btn btn-warning">Sign-up</a>
          <% } else { %> 
            <span class="me-2"> <%= email %> </span>
            <a  href="../employee/log-out" class="btn btn-warning">Log Out</a>
          <% } %>
        </div>
      </div>
    </div>
  </header>